h1 {
    font-size: 5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    display: inline-block;
    font-size: 2rem;
    border: 0.25rem solid;
    text-decoration: none;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 17rem;
    color: black;
}

#a {
    border: 0.25rem solid red;
}

#a:hover {
    background-color: #ff7f7f;
    cursor: pointer;
}

#a1 {
    border: 0.25rem solid yellow;
}

#a1:hover {
    background-color: #ffff77;
    cursor: pointer;
}

#a2 {
    border: 0.25rem solid green;
}

#a2:hover {
    background-color: #00ff00;
    cursor: pointer;
}

#a3 {
    border: 0.25rem solid blue;
}

#a3:hover {
    background-color: #1f5fff;
    cursor: pointer;
}



.amogus {
    max-width: 20rem;
    margin: auto;
}