:root {
    font-size: 1.5vw;
}

body {
    font-family: cursive;
    text-align: center;
    min-width: 2rem;
    min-height: 1rem;
}

#Commons {
    background-color: #000000;
    color: grey;
}

#Uncommons {
    background-color: #000000;
    color: #00aaff;
}

#Epics {
    background-color: #000000;
    color: #ff00ff;
}

#Legendaries {
    background-color: #000000;
    color: yellow;
}

#Mythicals {
    background-color: #000000;
    color: red;
}

#Secrets {
    background-color: #000000;
    color: #222222;
}

#Celestials {
    background-color: black;
    background: linear-gradient(to right, pink, lightgreen, lightblue);
    color: black;
}

#Atherials {
    background-color: black;
    background: linear-gradient(to right, yellow, purple);
    border: 0.15rem solid blue;
    /* color: transparent; makes text transparent so gradient shows*/
    /* background-clip: text; makes the text gradient*/
}

#VIP {
    background-color: black;
    background: linear-gradient(to right, #ffff44, gold, #ffff44);
    color: black;
    border: 0.15rem solid darkorange;
}

#Admin {
    background-color: black;
    background: linear-gradient(to right, red, green, blue);
    color: black;
    border: 0.15rem solid white;
}